/*  =================== Navbar ===================== */

.nav {
    width: 100vw;
    height: 6rem;
    display: grid;
    place-items: center;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    background-color: var(--color-primary);
    color: var(--color-white);
}
 

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__list {
    display: flex;
    gap: 3rem;
}
.nav__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav__toggle-btns {
    display: none;
}

.nav__signin-signup {
    display: flex;
    align-items: center;
    gap: 3rem;
}

/*  =================== END of Navbar ===================== */

.header {
    background-image: url('../public/header\ bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100vw;

    max-width: 100vw;
    text-align: center;

    padding-bottom: var(--section-bottom-padding-mobile);
}
.header__container {
color: var(--color-white);
}
.header__title {
    padding-top: 12rem;
    color: inherit;
}
.header p {
    color: rgba(255,255,255,.8);
    margin-bottom: 0;
}
.header__image {
    width: 92%;
    margin: 0 auto;
}

.cta {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.cta a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
    font-weight: 400;
    background-color: #000;
    border-radius: .7rem;
    padding: 0.8rem 1.6rem;
}
.cta a:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}
.cta .logo {
    width: 2rem;
}
.cta a h4 {
    font-weight: 500;
    font-size: 1.4rem;
}

.header__socials {
    /* background-color: rebeccapurple; */
    position: absolute;
    left: 3rem;
    top: 38%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.4rem;
    z-index: 1;
    /* color: var(--color-white); */
}

.header__decorator-1, .header__decorator-2 {
    position: absolute;

}
.header__decorator-2  {
    margin-top: -24rem;
    right: 0;
}